* {
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background__picture {
  background-image: url("/img/flowers-background.png");
  background-repeat: no-repeat;
  width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 220px;
  margin-bottom: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  color: #515076;
  text-align: center;
}

.container-cards {
  width: 1280px;
  display: flex;
  justify-content: center;

}

.product-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 45px;
  border: 1px;
  font-size: 14px;
  line-height: 24px;

}

.product-container {
  width: 340px;
  background: #F7F7FA;
  border: 1px;
  padding: 25px;
}

.product-photo {
  width: 290px;
  height: 245px;
  margin-bottom: 30px;
}

.product-name {
  white-space: nowrap;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #515076;
  padding: 5px 0 5px 0px;
}

.product-purpose {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #A5A3B9;
  margin-bottom: 5px;
}

.product-description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  padding: 5px 0 5% 0px;
  

}

.product-ingredients {
  width: 252px;
  color: #515076;
  font-size: 14px;
  font-weight: 400;
  border: 1px;
  margin-bottom: 5px;
}

.product-card__compound {
  size: 13px;
  color: #515076;
  margin-bottom: 5px;
  white-space: nowrap;
}

.product-card__compound-item {
  list-style-position: inside;
  margin-bottom: 5px;

}

.product-card__price-wrapper {
  width: 100%;
  color: #515076;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  
}

.product-card__price-text {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #515076;
  margin-bottom: 5px;
}

.product-card__price-item {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
}
